@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800&family=Nunito:wght@200&family=Open+Sans&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0; 
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: #e6e1e11e;
}

.navbar{
    width: 100%;
    height: 11vh;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
}

nav{
    flex: 1;
    padding-left: 100px;
}

nav ul{
    margin-top: 35px;
    margin-left: 530px;
}

nav ul li{
    display: inline-block;
    padding: 10px 27px;
}

nav ul li a{
    cursor: pointer;
    font-size: 17px;
    text-decoration: none;
    font-weight: 600;
    color: rgba(51, 51, 51, 0.671);
}

nav ul li a:hover{
    color: #333;
}

nav ul li:hover{
    border-bottom: 2px #063172f8 solid;
}

.logo h1{
    color: #000000;
    cursor: pointer;
    font-size: 35px;
    margin-left: 100px;
    margin-bottom: -15px;
}

hr{
    margin-left: 7.5%;
    width: 82%;
    margin-top: 15px;
    border: 1px solid rgba(51, 51, 51, 0.151);
}

/* container */
.container{
    width: 700px;
    height: auto;
    padding: 50px;
    margin-top: 50px;
    margin-left: 290px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 22px 77px #b9b9b9;
}

/* input-type-file */
.about{
    /* text-align: center; */
    margin-left: 247px;
    margin-bottom: 50px;
}

.about h3{
    font-size: 18px;
    color: #000000;
}

#output{
    /* text-align: center; */
    margin-left: 270px;
}

#output img{
    width: 150px;
    height: 150px;
    border-radius: 200px;
}

.form-group{
    margin-top: 30px;
    margin-left: 264px;
}

.picInput {
    color: transparent;
}

.picInput::-webkit-file-upload-button {
    visibility: hidden;
}

.picInput::before {
    color: black;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    display: inline-block;
    cursor: pointer;
    padding: 14px 30px;
    border: 1px solid #2e2e2e;
    border-radius: 10px;
    content: 'Change picture';
    outline: none;
    background-color: transparent;
    transition:  0.4s;
}

.picInput:hover::before {   
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    display: inline-block;
    cursor: pointer;
    padding: 14px 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    outline: none;
    background: -webkit-linear-gradient(top, #57b0ec, #18407e);
    background-color: transparent;
}

.picInput:active {
    outline: 0;
}

.picInput:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

/* nextButtonHolder */
.buttonHolder{
    margin-top: 40px;
    text-align: center;
}

.buttonHolder button{
    color: #fff;
    width: 90%;
    font-size: 16px;
    padding: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 100px;
    outline: none;
    background-color: #074475;
    transition: all .5s;
}

.buttonHolder button:hover{
    color: #333;
    border: 1px solid #333;
    transform: translateY(-5px);
    background-color: #fff;
}